<!--以下、購入商品の種類（タブ本体）-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#contents1" class="nav-link active" data-toggle="tab">販売履歴一覧（アルバム）</a>
  </li>
  <li class="nav-item">
    <a href="#contents2" class="nav-link" data-toggle="tab">注文履歴一覧（グッズ）</a>
  </li>
</ul>
<!--ここまで、購入商品の種類（タブ本体）-->

<div class="tab-content">
<!--以下、アルバムの注文詳細タブ-->
  <div id="contents1" class="tab-pane active">
      <div class="container">
        <div class="row">
          <div class="col-1"></div>
          <h4 class="d-flex align-items-center m-4" style="background-color: #EEEEEE;">販売履歴一覧（アルバム）</h4>
        </div>

      　<table class="table" border="1">
          <thead style="background-color: #EEEEEE;">
            <tr>
              <td>作成日</td>
              <td>ジャケット</td>
              <td>アルバム名</td>
              <td>現在の販売価格</td>
              <td>リリース状況</td>
              <td>販売総数（DL数）</td>
            </tr>
          </thead>
          <tbody>
            <% @albums.each do |album| %>
              <tr>
                <!--作成日-->
                <td class="align-middle">
                  <%= album.created_at.strftime( '%Y/%m/%d') %>
                </td>
                <!--アルバム画像-->
                <td class="align-middle">
                  <%= link_to artist_album_path(album.id) do %>
                    <%= image_tag album.get_jacket_image(200,200) %>
                  <% end %>
                </td>
                <!--アルバム名-->
                <td class="align-middle">
                  <%= album.name %>
                </td>
                <!--販売価格-->
                <td class="align-middle">
                  <%= album.price.to_s(:delimited) %>円
                </td>
                <!--リリース状況-->
                <td class="align-middle">
                  <% if album.released == true %>
                    <p class="text-success">販売中</p>
                  <% else %>
                    <p class="text-secondary">未販売</p>
                  <% end %>
                </td>
                <!--購入（DL）数の合計-->
                <td class="align-middle">
                  <%= album.order_details.count %>
                </td>
              </tr>
            <% end %>
          </tbody>
      　</table>
      </div>
  </div>
<!--ここまで、アルバムの注文詳細タブ-->

<!--以下、アイテムの注文詳細タブ-->
    <div id="contents2" class="tab-pane">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <h4 class="d-flex align-items-center m-4" style="background-color: #EEEEEE;">注文履歴一覧（グッズ）</h4>
      </div>

    　<table class="table" border="1">
        <thead style="background-color: #EEEEEE;">
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>売り上げ額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
          <% @item_orders.each do |order| %>
            <tr>
              <!--注文日-->
              <td class="align-middle">
                <%= order.created_at.strftime( '%Y/%m/%d') %>
              </td>
              <!--配送先-->
              <td class="align-middle">
                <%= '〒' + order.postal_code %></br>
                <%= order.address %>
              </td>
              <!--注文商品-->
              <td class="align-middle">
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %></br>
                <% end %>
              </td>
              <!--「支払金額」合計を表示-->
              <td class="align-middle">
                <%= order.total_payment.to_s(:delimited) %>円
              </td>
              <!--現在のステータス（入金・発送など）を表示-->
              <td class="align-middle">
                <%= order.status_i18n %>
              </td>
              <td class="align-middle">
                <%= link_to "表示する", artist_order_path(order.id), class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
    　</table>
    </div>
  </div>

</div>



