<h1>Customer::Albums#show</h1>

<h2>アルバム詳細画面</h2>
<div class="row d-flex justify-content-center">
  <div class="col-2 ml-3">
    <%= image_tag @album.get_jacket_image(350,350) %>
  </div>
  <div class="col-xl-8 offset-xl-1">
    <h2><%= @album.name %></h2>
    <div>
      <%= @album.artist.name %>
    </div>
    <div>
      ¥<%= @album.price.to_s(:delimited) %>-
    </div>
    <div class="d-flex justify-content-end">
      購入ボタン<!--<a%= link_to 'アルバム・楽曲の編集', edit_artist_album_path(@album.id), class: "btn btn-primary" %>-->
    </div>
  </div>
</div>

<!--以下、楽曲一覧-->
<table class="table table-striped text-center">
  <thead>
    <tr class="bg-info text-white">
      <td>track</td>
      <td></td>
      <td>楽曲名</td>
      <td>値段</td>
      <td>試聴</td>
    </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
    <tr>
      <td class="align-middle"><%= music.track %></td>
      <td class="align-middle"><%= image_tag music.album.get_jacket_image(100,100) %></td>
      <td class="align-middle"><%= music.name %></td>
      <td class="align-middle text-center">¥<%= music.price.to_s(:delimited)%></td>
      <td class="align-middle text-start">
        <%= audio_tag(polymorphic_path(music.get_test_audio),controls: true ,controlslist: "nodownload", class: "d-flex jusitfy-content-center") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
