<!--以下、エラーメッセージ-->
<% if @album.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--ここまで、エラーメッセージ-->
<!--以下、アルバム編集画面-->
<%= form_with model: [:artist,@album] do |f| %>
  <div class="row d-flex justify-content-center m-5">
    <div class="col-3 ml-3">
      <%= image_tag @album.get_jacket_image(350,350) %>
      <%= f.file_field :jacket_image, accept: 'image/*' %>
    </div>
    <div class="col-xl-8">
      <h2>
        タイトル：<%= f.text_field :name %>
      </h2>
      <div>
        <%= @album.artist.name %>
      </div>
      <div>
        販売価格：<%= f.number_field :price %>円
      </div>
      <div>
        <% if @album.released == true %>
          <p class="mx-auto my-auto">
            このアルバムはリリースされています。
          </p>
        <% else %>
          <%= f.check_box :released %>︎⬅︎リリース
          <p class="mx-auto my-auto">
            チェックをつけて「アルバムを更新」を押した場合、アルバムをリリースします。<br>
            <span class="text-danger">※一度リリースしたアルバムをリリース前へ戻す（非公開にする）ことはできません。</span><br>
            <span class="text-danger">※一度リリースしたアルバムに楽曲を追加することはできません。（編集は可能です）</span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-xl-9 d-flex justify-content-end">
      <%= link_to '戻る', artist_album_path(@album.id), class: 'btn btn-secondary' %>
      <%= f.submit 'アルバムの情報を更新する', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<!--ここまで、アルバム編集画面-->

<!--楽曲編集一覧-->
<%= render 'artist/musics/edit_form', album: @album, music: @music %>

<!--音楽登録フォーム-->
<% if @album.released == false %>
<%= render 'artist/musics/form', album: @album, music: @musics %>
<% end %>
<!--アルバム削除ボタン-->
  <div class=" d-flex justify-content-end m-5">
    <%= link_to 'アルバムを削除する', artist_album_path(@album.id), method: :delete,"data-confirm" => "本当に削除しますか？　削除した場合、アルバムに登録した楽曲も削除されます", class: "btn btn-danger"  %>
  </div>