<h1>Artist::Albums#edit</h1>

<!--以下、アルバム編集画面-->
<h2>アルバム編集画面</h2>
<!--以下、エラーメッセージ-->
<% if @album.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--ここまで、エラーメッセージ-->


<%= form_with model: [:artist,@album] do |f| %>
  <div class="row d-flex justify-content-center">
    <div class="col-3 ml-3">
      <%= image_tag @album.get_jacket_image(350,350) %>
      <%= f.file_field :jacket_image, accept: 'image/*' %>
    </div>
    <div class="col-xl-8">
      <h2>
        タイトル：<%= f.text_field :name %>
      </h2>
      <div>
        <%= @album.artist.name %>
      </div>
      <div>
        販売価格：<%= f.number_field :price %>円
      </div>
      <div>
        <% if @album.released == true %>
          <%= f.check_box :released %>
          このアルバムを非公開にする。
        <% else %>
          <%= f.check_box :released %>
          このアルバムをリリースする。<br>
          ※チェックをつけて「アルバムを更新」を押した場合、アルバムは公開されます。
        <% end %>
      </div>
    </div>
    <div class="col-xl-9 d-flex justify-content-end">
      <%= link_to '戻る', artist_album_path(@album.id), class: 'btn btn-secondary' %>
      <%= f.submit 'アルバムの情報を更新する', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<!--ここまで、アルバム編集画面-->

<!--以下、楽曲一覧と楽曲編集のタブ切り替えの設定-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">楽曲一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">楽曲編集</a>
  </li>
</ul>
<!--ここまでタブヘッダー-->

<!--以下、タブの中身-->
<div class="tab-content" id="myTabContent">
  <!--タブ１　楽曲一覧-->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'artist/musics/index', album: @album, music: @music %>
  </div>
  <!--タブ２　楽曲編集の部分テンプレート-->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= render 'artist/musics/edit_form', album: @album, music: @music %>
  </div>
</div>
<!--ここまで、タブの中身-->

<!--音楽登録フォーム-->
<%= render 'artist/musics/form', album: @album, music: @musics %>

<!--アルバム削除ボタン-->
  <div class=" d-flex justify-content-end m-5">
    <%= link_to 'アルバムを削除する', artist_album_path(@album.id), method: :delete,"data-confirm" => "本当に削除しますか？　削除した場合、アルバムに登録した楽曲も削除されます", class: "btn btn-danger"  %>
  </div>