<h1>Artist::Albums#index</h1>

<!--以下、公開されているもの-->
<h4 class="ml-3">リリース中</h4>
<table class="table">
　<tbody>
    <tr>
    　<% @albums.order(created_at: :desc).each do |album| %>
        <% if album.artist_id == current_artist.id && album.released == true %>
        　<td>
            <%= link_to artist_album_path(album.id) do %>
            　<%= image_tag album.get_jacket_image(200,200) %><br>
            　<%= album.name %>
            　¥<%= album.price.to_s(:delimited) %>-
            <% end %>
        　</td>
        <% end %>
    　<% end %>
    </tr>
　</tbody>
</table>
<!--ここまで、公開されているもの-->

<!--以下、未公開のもの-->
<h4 class="ml-3">未公開</h4>
<table class="table">
　<tbody>
    <tr>
    　<% @albums.order(created_at: :desc).each do |album| %>
        <% if album.artist_id == current_artist.id && album.released == false %>
        　<td>
            <%= link_to artist_album_path(album.id) do %>
            　<%= image_tag album.get_jacket_image(200,200) %><br>
            　<%= album.name %>
            　¥<%= album.price.to_s(:delimited) %>-
            <% end %>
        　</td>
        <% end %>
    　<% end %>
    </tr>
　</tbody>
</table>