<h1>Artist::Albums#index</h1>

<!--以下、公開されているもの-->
<div class="ml-3">
    <h2>登録しているアルバム一覧</h2>
    <p>
        こちらでは登録しているアルバム一覧が閲覧できます。<br>
        リリース中 ＝ <strong>発売（公開）</strong>しているもの<br>
        未公開 ＝ <strong>未発売/発売停止</strong>しているもの
    </p>
</div>

<h4 class="ml-3 mb-0">リリース中</h4>
<table class="table d-flex flex-nowrap">
　<tbody>
    <tr>
    　<% @albums.order(created_at: :desc).each do |album| %>
    　  <!--自身が登録したもの＋公開済-->
        <% if album.artist_id == current_artist.id && album.released == true %>
        　<td>
            <%= link_to artist_album_path(album.id) do %>
            　<%= image_tag album.get_jacket_image(200,200) %><br>
            　<%= album.name %>
            　¥<%= album.price.to_s(:delimited) %>-
            <% end %>
        　</td>
        <% end %>
    　<% end %>
    </tr>
　</tbody>
</table>
<!--ここまで、公開されているもの-->

<!--以下、未公開のもの-->
<h4 class="ml-3 mb-0">未公開</h4>
<table class="table d-flex flex-nowrap">
　<tbody>
    <tr>
    　<% @albums.order(created_at: :desc).each do |album| %>
        <% if album.artist_id == current_artist.id && album.released == false %>
        　<td>
            <%= link_to artist_album_path(album.id) do %>
            　<%= image_tag album.get_jacket_image(200,200) %><br>
            　<%= album.name %>
            　¥<%= album.price.to_s(:delimited) %>-
            <% end %>
        　</td>
        <% end %>
    　<% end %>
    </tr>
　</tbody>
</table>