<h1>Artist::Albums#new</h1>

<%= form_with model: [:artist,@album] do |f| %>

<div>
  <label class="m-2">ジャケット写真</label>
  <%= f.file_field :jacket_image, accept: "image/*", class: "form-control" %>
</div>

<div>
  <label class="m-2">アルバム名</label>
  <%= f.text_field :name, placeholder: "アルバム名", class: "form-control" %>
</div>

<div>
  <label class="m-2">アルバム価格</label>
  <%= f.number_field :price, placeholder: "100", class: "form-control"%>
</div>
  <%= f.hidden_field :artist_id, :value => current_artist.id %>
<div>
　<%= f.submit 'アルバム作成', class: "btn btn-primary mr-3 mt-3" %>
</div>

<% end %>

