<h1>Artist::Albums#show</h1>

<h2>アルバム詳細画面</h2>
<div class="row">
  <div class="col-2">
    <%= image_tag @album.get_jacket_image(350,350) %>
  </div>
  <div class="col-xl-8 offset-xl-1">
    <h2><%= @album.name %></h2>
    <%= current_artist.name %>
    <div>
      ¥<%= @album.price.to_s(:delimited) %>-
    </div>
    <div>
      作成日：<%= @album.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div>
      <%= link_to 'アルバムを編集する', edit_artist_album_path(@album.id) %>
    </div>
  </div>
<div class="offset-1">
<% if @album.released == true %>
  <p>このアルバムは公開されています</p>
  <% else %>
  <p>このアルバムは公開されていません</p>
<% end %>
</div>
<!--rowのdiv-->
</div>

<!--以下、楽曲表示-->
<table>
  <thead>
    <tr>
      <td colspan="1"></td>
      <td colspan="3"></td>
    </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
    <tr>
      <td><%= music.track %></td>
      <td><%= image_tag music.album.get_jacket_image(50,50) %></td>
      <td><%= music.name %></td>
      <td><%= music.artist.name %></td>
      <td><%= audio_tag(polymorphic_path(music.get_audio), controls: true ,controlslist: "nodownload") %></td>
      <td><%= link_to '曲を編集する', edit_artist_music_path(music.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<!--<a%= render 'artist/musics/form', album: @album, music: @music %>-->



