<h1>Customer::Items#show</h1>
<!--MSG："在庫以上のご注文はできません"-->
<% if flash[:notice] %>
    <p id="notice" class="text-center text-danger">
      <%= flash[:notice] %>
    </p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-4 mt-4">
      <%= image_tag @item.get_item_image(350,250) %>
    </div>
    <div class="col-5 offset-1 mt-4">
      <h4><strong><%= @item.name %></strong></h4>
      <p style="white-space: pre-line;"><%= @item.introduction %></p>
      <div class="mt-5">
        <strong style="font-size: 20px;">¥ <%= @item.price.to_s(:delimited) %></strong>
      </div>

      <div class="mt-3">
        <%= form_with model: [:customer,@cart_item] do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <!--アイテムの在庫が１０以下の場合は、セレクトで選択できる個数を１０以下（最大値を在庫分のみ）とする-->
          <% if @item.amount < 10 %>
            <%= f.select :amount, *[1..@item.amount], prompt: "個数選択" %>
          <% else %>
            <%= f.select :amount, *[1..10], prompt: "個数選択" %>
          <% end %>
          <!--在庫が０の場合、在庫切れと表示される-->
          <% if @item.amount == 0 %>
            <span class="text-danger ml-1">在庫切れ</span>
          <% else %>
            <span class="ml-1">在庫<%= @item.amount %>個</span>
          <% end %>
          <div class="d-flex justify-content-end">
            <!--在庫が０のものをカートに入れられないようにする-->
            <% if @item.amount != 0 %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
