<div class="container">

<!--アイテムの検索結果-->
  <div class="row">
    <div class="col-10">
      <div class="search-list">
        <h3>検索結果：<%= @keyword %></h3>
        <table>
          <tbody>
            <tr class="d-flex align-content-between flex-wrap">
              <% @search_items.each do |item| %>
                <% if item.is_active == true %>
                  <td class="d-flex justify-content-center m-3">
                    <%= link_to customer_item_path(item.id) do %>
                      <%= image_tag item.get_item_image(400,200) %></br>
                      <%= item.name %></br>
                      ¥<%= item.price.to_s(:delimited) %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!--アルバムの検索結果-->
  <div class="row">
    <div class="col-10">
      <div class="search-list">
        <table>
          <tbody>
            <tr class="d-flex align-content-between flex-wrap">
              <% @search_albums.each do |album| %>
                <% if album.released == true %>
                  <td class="d-flex justify-content-center m-3">
                    <%= link_to customer_album_path(album.id) do %>
                      <%= image_tag album.get_jacket_image(400,200) %></br>
                      <%= album.name %></br>
                      ¥<%= album.price.to_s(:delimited) %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!--アーティストの検索結果-->
  <div class="row">
    <div class="col-10">
      <div class="search-list">
        <table>
          <tbody>
            <tr class="d-flex align-content-between flex-wrap">
              <% @search_artists.each do |artist| %>
                <% if artist.is_deleted == false %>
                  <td class="d-flex justify-content-center m-3">
                    <%= link_to artist_mypage_path(artist.id) do %>
                      <%= image_tag artist.get_introduction_image(400,200) %></br>
                      <%= artist.name %></br>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>



<div class="d-flex align-items-center justify-content-center" ><%= paginate @search_items %></div>
