<h1>Homes#top</h1>

<% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
<% end %>

<!--アドミン-->
<div>
<% if admin_signed_in? %>
  <%= button_to 'ログアウト（管理者）', destroy_admin_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <%= link_to 'ゲストログイン（管理者）', admins_guest_sign_in_path, method: :post, class: "login" %>
<% end %>
</div>
<!--アーティスト-->
<div>
<% if artist_signed_in? %>
  <%= button_to 'ログアウト（アーティスト）', destroy_artist_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <%= link_to 'ゲストログイン（アーティスト）', artists_guest_sign_in_path, method: :post, class: "login" %>
<% end %>
</div>
<!--カスタマー-->
<div>
<% if customer_signed_in? %>
  <%= button_to 'ログアウト（カスタマー）', destroy_customer_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <%= link_to 'ゲストログイン（カスタマー）', customers_guest_sign_in_path, method: :post, class: "login" %>
<% end %>
</div>


<!--以下、Payjpテスト-->


  <!--Payjpカード保存-->
  <%= form_with url: homes_purchase_path do %>
    <script type="text/javascript" src="https://checkout.pay.jp"
    class="payjp-button" data-key="pk_test_751e71893edfeddc9c4dd96f"
    data-submit-text="カード情報を入力し、注文を確定する" data-partial="false"></script>
  <% end %>




<!--Payjpカード支払い-->
<!--    <a%= form_with url: homes_purchase_path do %>-->
<!--<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_751e71893edfeddc9c4dd96f" ></script>-->
<!--  <a% end %>-->

