
<h3 class="text-center">Mayday</h3>
<div class="container d-flex align-items-center justify-content-center my-auto mx-auto">
  <div class="row">
    <p class="text-start my-auto mx-auto">
      このサイトでは、アーティスト様は音楽やグッズの登録・販売ができます。<br>
      一般のお客様は好きなアーティストの音楽やグッズを自由に購入することができます。
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center my-auto mx-auto" style="height:300px;">
      <div class="col-6">
        <p class="text-center">↓一般のお客様はこちら↓</p>
        <div>
          <%= link_to 'ログイン（一般のお客様）', customer_session_path, class: "btn btn-primary m-3", style: "width: 300px;" %>
        </div>
        <div>
          <%= link_to '新規登録（一般のお客様）', new_customer_registration_path, class: "btn btn-success m-3", style: "width: 300px;" %>
        </div>
        <div>
          <%= link_to 'ゲストログイン（一般のお客様）', customers_guest_sign_in_path, method: :post, class: "login btn btn-warning m-3", style: "width: 300px;" %>
        </div>
      </div>
      <div class="col-6">
        <p class="text-center">↓アーティストの方はこちら↓</p>
        <div>
          <%= link_to 'ログイン（アーティスト様）', artist_session_path, class: "btn btn-primary m-3", style: "width: 300px;" %>
        </div>
        <div>
          <%= link_to '新規登録（アーティスト様）', new_artist_registration_path, class: "btn btn-success m-3", style: "width: 300px;" %>
        </div>
        <div>
          <%= link_to 'ゲストログイン（アーティスト様）', artists_guest_sign_in_path, method: :post, class: "login btn btn-warning m-3", style: "width: 300px;" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <%= link_to 'ログイン（管理者）', admin_session_path, class: "btn btn-primary m-3", style: "width: 230px;" %>
</div>
<div class="d-flex justify-content-center">
  <%= link_to 'ゲストログイン（管理者）', admins_guest_sign_in_path, method: :post, class: "login btn btn-warning m-3", style: "width: 230px;" %>
</div>


