<!--以下、エラーメッセージ-->
<% if @item.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--ここまで、エラーメッセージ-->

<!--以下、商品登録-->
<div class="container">
  <div class="row">
    <h4 class="d-flex align-items-center m-3" style="background-color: #EEEEEE;">グッズ新規登録</h4>
  </div>
  <div class="row">
    <p class="my-auto mx-auto">
      こちらではグッズの登録を行えます。<br>
      登録項目：グッズの画像、商品名、説明、販売価格、在庫<br>
      ※販売価格は50円以上で設定してください。それ以下は設定できません。<br>
      ※販売ステータスは「販売中」を選択すると公開され、一般のお客様が購入できるようになります。
    </p>
  </div>

<table class="d-flex align-items-center justify-content-center my-auto mx-auto">
  <div>
    <%= form_with model: [:artist,@item] do |f| %>
    <tr>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">商品画像</td>
      <td class="form_control pt-3 mt-3"><%= f.file_field :item_image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">商品名</td>
      <td class="form_control pt-3 mt-3"><%= f.text_field :name, placeholder: 'Tシャツ', size: "30" %></td>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">商品説明</td>
      <td class="form_control pt-3 mt-3 text-nowrap"><%= f.text_area :introduction, size: "30x5", placeholder: '流行りのオーバーサイズTシャツ！' %></td>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">販売価格</td>
      <td class="form_control pt-3 mt-3"><%= f.number_field :price, placeholder: '2000' %>円</td>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">在庫</td>
      <td class="form_control pt-3 mt-3"><%= f.number_field :amount, placeholder: '20' %>個</td>
    </tr>
    <tr>
      <td class="form_control pt-3 mt-3">販売ステータス</td>
      <td class="form_control pt-3 mt-3">
        <%= f.radio_button :is_active, true %><%= f.label :is_active_1, "販売中" %>
        <%= f.radio_button :is_active, false %><%= f.label :is_active_2, "販売中止中" %>
      </td>
    </tr>
    <%= f.hidden_field :artist_id, :value => current_artist.id %>
    <tr>
      <td></td>
      <td class="form_control pt-3 mt-3"><%= f.submit '新規登録', class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </div>
</table>

</div>
<!--ここまで、商品登録-->



