<h1>Admin::Users#index</h1>

<table class="table">
  <thead>
    <tr>
      <td>グループ名</td>
      <td>メールアドレス</td>
      <td>連絡先</td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><%= artist.email %></td>
      <td><%= artist.telephone_number %></td>
      <!--is_deleted＝falseの場合、アカウントは有効、trueで無効となる。-->
      <%= form_with model: @artist,url: admin_user_path(artist.id), method: :patch do |f| %>
        <% if artist.is_deleted == false %>
          <td><%= f.radio_button :is_deleted, false, checked: true %><%= f.label :is_deleted_1, "有効" %></td>
          <td><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted_2, "無効" %></td>
          <td><%= f.submit 'ステータス更新' %></td>
        <% else %>
          <td><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted_1, "有効" %></td>
          <td><%= f.radio_button :is_deleted, true, checked: true %><%= f.label :is_deleted_2, "無効" %></td>
          <td><%= f.submit 'ステータス更新' %></td>
        <% end %>
        <% @artist = artist %>
      <% end %>
    </tr>
    <% end %>


  </tbody>
</table>
