<!--以下、ユーザーを管理するタブ本体-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#contents1" class="nav-link active" data-toggle="tab">アーティストユーザー</a>
  </li>
  <li class="nav-item">
    <a href="#contents2" class="nav-link" data-toggle="tab">カスタマーユーザー</a>
  </li>
</ul>
<!--ここまで、ユーザーを管理するタブ-->

<!--以下、artistのユーザー一覧-->
<div class="tab-content">
  <div id="contents1" class="tab-pane active">
    <h2 class="bg-info pl-3">アーティスト</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td><h4>ID</h4></td>
          <td><h4>グループ名</h4></td>
          <td><h4>メールアドレス</h4></td>
          <td><h4>連絡先</h4></td>
          <td><h4>アカウントステータス</h4></td>
        </tr>
      </thead>
      <tbody>
        <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.id %></td>
          <td><%= artist.name %></td>
          <td><%= artist.email %></td>
          <td><%= artist.telephone_number %></td>
          <% @artist = artist %>
          <!--以下、is_deletedの更新-->
          <%= form_with model: @artist,url: admin_artist_user_path(@artist.id), method: :patch do |f| %>
          <!--is_deletedのステータス　false＝アカウント有効　true＝アカウント無効-->
          <td>
            <%= f.radio_button :is_deleted, false, checked: true %><%= f.label :is_deleted_1, "有効" %>
            <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted_2, "無効" %>
          </td>
          <td><%= f.submit 'ステータス更新' %></td>
          <% end %>
          <!--ここまで、is_deletedの更新-->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!--ここまで、artistのユーザー一覧-->

<!--以下、customerのユーザー一覧-->
  <div id="contents2" class="tab-pane">
    <h2 class="bg-info pl-3">カスタマー</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td><h4>ID</h4></td>
          <td><h4>氏名</h4></td>
          <td><h4>メールアドレス</h4></td>
          <td><h4>連絡先</h4></td>
          <td><h4>アカウントステータス</h4></td>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.telephone_number %></td>
          <% @customer = customer %>
          <!--以下、is_deletedの更新-->
          <%= form_with model: @customer,url: admin_customer_user_path(@customer.id), method: :patch do |f| %>
          <!--is_deletedのステータス　false＝アカウント有効　true＝アカウント無効-->
          <td>
            <%= f.radio_button :is_deleted, false, checked: true %><%= f.label :is_deleted_1, "有効" %>
            <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted_2, "無効" %>
          </td>
          <td><%= f.submit 'ステータス更新' %></td>
          <% end %>
          <!--ここまで、is_deletedの更新-->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-end mr-5" >
  <%= paginate @customers %>
  <%= paginate @artists %>
</div>