

<!--以下、楽曲編集フォーム-->
<table class="table">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="3"></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
    <tr>
      <td><%= music.track %></td>
      <td><%= image_tag music.album.get_jacket_image(50,50) %></td>
      <td><%= music.name %></td>
      <td><%= music.artist.name %></td>
      <td><%= audio_tag(polymorphic_path(music.get_audio), controls: true ,controlslist: "nodownload") %></td>
      <td>¥<%= music.price.to_s(:delimited) %>-</td>
      <td><%= link_to '曲を編集する', edit_artist_music_path(music.id) %></td>
    </tr>
    <% end %>


    <%= form_with model: [:artist,@music] do |f| %>
    <tr>
      <td><%= f.number_field :track %></td>
      <td colspan="1"></td>
      <td><%= f.text_field :name  %></td>
      <td colspan="1"></td>
      <td><%= f.file_field :audio, accept: 'audio/*' %></td>
      <td>¥<%= f.number_field :price %></td>
      <td><%= f.submit '更新する' %></td>
    </tr>
    <% end %>

  </tbody>
</table>

