<!--music作成フォーム-->


<%= form_with model: [:artist,@music] do |f| %>

<div>
  <div>
    <label>曲名</label>
    <%= f.text_field :name, class: 'form-control', placeholder: '曲名' %>
  </div>

  <div>
    <label>track</label>
    <%= f.number_field :track, class: 'form-control', placeholder: 'track' %>
  </div>

  <div>
    <label>価格</label>
    <%= f.number_field :price, min: 100, class: 'form-control', placeholder: '値段' %>
  </div>

  <label>音楽ファイル</label>
  <%= f.file_field :audio, class: 'form-control', accept: 'audio/*'%>

  <div>
    <%= f.text_area :index_info, class: 'form-control text-nowrap ',rows:"10", placeholder:"歌詞など" %>
  </div>
</div>
  <%= f.hidden_field :artist_id, :value => current_artist.id %>
  <%= f.hidden_field :album_id, :value => @album.id %>
  <%= f.submit '作成' %>
  <% end %>


