<!--以下、楽曲一覧-->
<table class="table table-striped text-center">
  <thead>
    <tr class="bg-info text-white">
      <td>track</td>
      <td></td>
      <td>楽曲名</td>
      <td>楽曲ファイル</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
    <tr>
      <td class="align-middle"><%= music.track %></td>
      <td class="align-middle"><%= image_tag @album.get_jacket_image(100,100) %></td>
      <td class="align-middle"><%= music.name %></td>
      <td>
        <div>
          <%= audio_tag(polymorphic_path(music.get_audio), loop: "loop",controls: true ,controlslist: "nodownload", class: "align-middle") %>
        </div>
        <div>
          <%= audio_tag(polymorphic_path(music.get_test_audio),controls: true ,controlslist: "nodownload", class: "align-middle") %>
        </div>
      </td>
      <td class="align-middle text-center">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse1" class="btn btn-primary">詳細</a>
              </h6>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body" style="white-space: pre-line;">
                <%= music.index_info%>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>