<h1>Artist::Musics#new</h1>



<%= form_with model: [:artist,@music] do |f| %>

<label>音楽ファイル</label>
<%= f.file_field :audio, class: 'form-control', accept: 'audio/*'%>

<div>
  <label>曲名</label>
  <%= f.text_field :name, class: 'form-control', value: '曲名' %>
</div>

<div>
  <label>価格</label>
  <%= f.number_field :price, min: 100, class: 'form-control', value: '100' %>
</div>


<%= f.submit '作成' %>

<% end %>