<!DOCTYPE html>
<html>
  <head>
    <title>Mayday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
<!--以下、adminのログイン確認-->
      <% if admin_signed_in? %>
        <%= link_to 'log_out', destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to 'log_in', admin_session_path %>
      <% end %>
<!--ここまで、adminのログイン確認-->
<!--以下、artistのログイン確認-->
      <% if artist_signed_in? %>
        <%= link_to 'artist_log_out', destroy_artist_session_path, method: :delete %>
      <% else %>
        <%= link_to 'artist_log_in', artist_session_path %>
      <% end %>
<!--ここまで、artistのログイン確認-->
<!--以下、userのログイン確認-->

<!--ここまで、userのログイン確認-->

    </header>

    <%= yield %>
  </body>
</html>
