<!DOCTYPE html>
<html>
  <head>
    <title>Mayday</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--以下、adminで使うタブ用にBootstrapをCDNから参照-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-jJ2L/Ujk8jWEwtIXPFEk3X+f20QKnj4IIscn+JZzxqkbAUC79idDdiAhAi2E7czT" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-K09cMhJkkwNoZK1BRIJX6fQk06LqHSs8LdWAE24M/18F4NlePaltFx1cnB9wKwQX" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!--ここまで、adminで使うタブ用にBootstrapをCDNから参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /*bodyの画面の高さの最低値を100vhに設定*/
      body { min-height: 100vh; }
    </style>
  </head>

  <body>
    <header>
      <div>ヘッダー</div>
      <div><%= link_to 'top', root_path %></div>
<!--以下、adminのログイン確認-->
<div>
      <% if admin_signed_in? %>
        <%= button_to 'アドミンlog_out', destroy_admin_session_path, method: :delete %>
        <%= link_to 'ユーザー管理一覧', admin_users_path %>
      <% else %>
        <%= link_to 'アドミンlog_in', admin_session_path %>
      <% end %>
</div>
<!--ここまで、adminのログイン確認-->
<!--以下、artistのログイン確認-->
<div>
      <% if artist_signed_in? %>
        <%= link_to 'アーティストmypage', artist_mypage_path %>
        <%= link_to 'アーティストedit_mypage', artist_edit_mypage_path %>

          アルバム関連
            <%= link_to '作成', new_artist_album_path %>
            <%= link_to '一覧', artist_albums_path %>

          グッズ関連
            <%= link_to '作成', new_artist_item_path %>
            <%= link_to '一覧', artist_items_path %>

        <%= button_to 'アーティストlog_out', destroy_artist_session_path, method: :delete %>
      <% else %>
        <%= link_to 'アーティストlog_in', artist_session_path %>
        <%= link_to 'アーティストsign_up', new_artist_registration_path %>
      <% end %>
</div>
<!--ここまで、artistのログイン確認-->
<!--以下、userのログイン確認-->
<div>
      <% if customer_signed_in? %>
        <%= button_to 'カスタマーlog_out', destroy_customer_session_path, method: :delete %>
      <% else %>
        <%= link_to 'カスタマーlog_in', customer_session_path %>
        <%= link_to 'カスタマーsign_up', new_customer_registration_path %>
      <% end %>
</div>
<!--ここまで、userのログイン確認-->

    </header>

    <%= yield %>
  </body>
</html>
