<!DOCTYPE html>
<html>
  <head>
    <title>Mayday</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--以下、タブ分けとして使うBootstrapをCDNから参照-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-jJ2L/Ujk8jWEwtIXPFEk3X+f20QKnj4IIscn+JZzxqkbAUC79idDdiAhAi2E7czT" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-K09cMhJkkwNoZK1BRIJX6fQk06LqHSs8LdWAE24M/18F4NlePaltFx1cnB9wKwQX" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!--ここまで、タブ分けとして使うBootstrapをCDNから参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh;">
    <header class="shadow-sm bg-dark">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/home"><h3>Mayday</h3></a>
          <span class="ml-auto">
            <!--検索テンプレ（対象：アイテム、アルバム、アーティスト）-->
            <%= render '/homes/search_list'%>
          </span>
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          <!--以下、アドミン（ログイン済み）のヘッダーリンク-->
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ユーザ管理一覧', admin_users_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to '販売管理一覧', admin_products_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-light" %>
              </li>
            <% end %>
          <!--ここまで、アドミン（ログイン済み）のヘッダーリンク-->
          <!--以下、アーティスト（ログイン済み）のヘッダーリンク-->
            <% if artist_signed_in? %>
              <li class="nav-item">
                <%= link_to 'マイページ', artist_user_path(current_artist.id), class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ編集', edit_artist_user_path(current_artist.id), class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アルバム（楽曲）登録', new_artist_album_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アルバム一覧', artist_albums_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'グッズ登録', new_artist_item_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'グッズ一覧', artist_items_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to '注文一覧', artist_orders_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_artist_session_path, method: :delete, class: "nav-link text-light" %>
              </li>
            <% end %>
          <!--ここまで、アーティスト（ログイン済み）のヘッダーリンク-->
          <!--以下、カスタマー（ログイン済み）のヘッダーリンク-->
            <% if customer_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ホーム', home_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', customer_mypage_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'カート', customer_cart_items_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アーティスト一覧', artist_users_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アルバム（音楽）一覧', customer_albums_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'グッズ一覧', customer_items_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to '注文履歴一覧', customer_orders_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link text-light" %>
              </li>
            <% end %>
          <!--ここまで、カスタマー（ログイン済み）のヘッダーリンク-->
          <!--以下、アーティスト・カスタマー・アドミンのいずれにもログインしていない場合のヘッダー-->
            <% if !artist_signed_in? && !customer_signed_in? && !admin_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ログイン（アーティストの方はこちらから）', artist_session_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アカウント新規作成（アーティストの方はこちらから）', new_artist_registration_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン（一般のお客様はこちらから）', customer_session_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'アカウント新規作成（一般のお客様はこちらから）', new_customer_registration_path, class: "nav-link text-light" %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--ヘッダー下に表示させるメッセージ-->
    <div class="text-center">
      <% if flash[:notice] %>
        <p id="notice" class="alert alert-warning">
          <%= flash[:notice] %>
        </p>
      <% end %>
    </div>
    <main style="min-height: 100vh;">
      <%= yield %>
    </main>
  </body>
</html>

